#btn_up {
    border-image: url(pix/icon/black/arrowup.png) 0 0 0 0;
    border: none;
}
#btn_up:hover {
    border-image: url(pix/icon/white/arrowup.png) 0 0 0 0;
    border: none;
}
#btn_up:pressed {
    border-image: url(pix/icon/grey/arrowup.png) 0 0 0 0;
    border: none;
}
#btn_down {
    border-image: url(pix/icon/black/arrowdown.png) 0 0 0 0;
    border : none;
}
#btn_down:hover {
    border-image: url(pix/icon/white/arrowdown.png) 0 0 0 0;
    border: none;
}
#btn_down:pressed {
    border-image: url(pix/icon/grey/arrowdown.png) 0 0 0 0;
    border: none;
}
#lab_tem{
    border-image: url(pix/icon/tem.png) 0 0 0 0;
    border: none;
}
#hline,#vline{
    background-color: rgba(0,0,0,255);
}
#btn_power {
    border-image: url(pix/icon/black/power.png) 0 0 0 0;
    border : none;
}
#btn_power:hover {
    border-image: url(pix/icon/white/power.png) 0 0 0 0;
    border: none;
}
#btn_power:pressed {
    border-image: url(pix/icon/grey/power.png) 0 0 0 0;
    border: none;
}
#btn_wind {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
#btn_wind:hover {
    background-color: rgba(200, 200, 200, 1);
    color: white;
}
#btn_wind:pressed {
    background-color: rgba(60, 60, 60, 1);
    color: white;
}
#lab_wind{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
#lab_Wtag1,#lab_Wtag2,#lab_Wtag3{
    border-image: url(pix/icon/wind.png) 0 0 0 0;
    border: none;
}
#frame{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(199, 197, 64, 255), stop:1 rgba(199, 197, 64, 128));
    border: 1px solid black;
}
#frame_2{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(100, 100, 14, 255), stop:1 rgba(149, 147, 14, 128));
    border: 1px solid black;
}
